@charset "UTF-8";

/* Mobile First */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
}

body {
    background-color: #BFB78F;
}

header {
    background-color: #011F26;
}

header h1 {
    color: white;
    font-size: 2.5em;
    text-align: center;
    padding: 50px;
}

#menu-box {
    width: 100%;
    background-color: #F2A71B;
    text-align: center;
}

#menu-box img {
    width: 48px;
}

menu ul {
    color: white;
    display: block;
    text-align: center;
    list-style-type: none;
}

menu ul li a {
    color: white;
    display: block;
    padding: 10px 0px;
    text-decoration: none;
}

menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.26);
}

main {
    background-color: white;
    text-align: justify;
    height: 80%;
    padding: 15px 30px;
}

main h2 {
    padding: 20px 0px;
}

main p {
    padding: 10px 0px;
}

footer {
    background-color: #011F26;
    position: relative;
    align-items: center;
    text-align: center;
    height: 100px;
}

footer p {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
}