@charset "UTF-8";

/* Configurações para 'portraits'*/

body {
    background-image: url(../images/cev-portrait.jpg);
    background-position: center bottom;
    background-size: 90vw;
}

h1 {
    font-size: 1.4em;
}